* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono NF", "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

window#waybar {
    /* Fond typique Apple : sombre mais très translucide */
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    transition: all 0.5s;
    /* La bordure très fine pour l'effet premium */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* On enlève les fonds des modules pour un look épuré */
#workspaces,
#window,
#clock,
#pulseaudio,
#backlight,
#network,
#battery,
#language,
#cpu,
#memory,
#temperature,
#tray,
#custom-apple,
#custom-weather {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}

#language {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

#language:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#custom-weather {
    font-weight: 600;
    color: #ffffff;
    padding-left: 5px;
}

/* Espacement spécifique pour le logo à gauche */
#custom-apple {
    font-size: 18px;
    padding-left: 15px;
    color: #ffffff;
}

/* Workspaces discrets style points/points macOS */
#workspaces button {
    color: rgba(255, 255, 255, 0.4);
    padding: 0 4px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.urgent {
    color: #ff5555;
}

/* L'horloge centrale style macOS */
#clock {
    font-weight: 700;
}

/* Hover subtil */
#pulseaudio:hover, #network:hover, #battery:hover, #backlight:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#battery.critical {
    color: #ff5555;
}

#tray {
    padding-right: 15px;
}
